<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="name" class="text-capitalize">{{ form.name.label }}</label>
        {{ form.name }}
        {% for error in form.name.errors %}<small class="text-danger">{{ error|escape }}</small>{% endfor %}
    </div>
    <div class="form-group">
        <label for="email" class="text-capitalize">{{ form.email.label }}</label>
        {{ form.email }}
        {% for error in form.email.errors %}<small class="text-danger">{{ error|escape }}</small>{% endfor %}
    </div>
    <div class="form-group">
        <label for="phone" class="text-capitalize">{{ form.phone.label }}</label>
        {{ form.phone }}
        {% for error in form.phone.errors %}<small class="text-danger">{{ error|escape }}</small>{% endfor %}
    </div>
    <div class="form-group">
        <label for="department" class="text-capitalize">{{ form.department.label }}</label>
        {{ form.department }}
        {% for error in form.department.errors %}<small class="text-danger">{{ error|escape }}</small>{% endfor %}
    </div>
    <div class="form-group">
        <label for="role" class="text-capitalize">{{ form.role.label }}</label>
        {{ form.role }}
        {% for error in form.role.errors %}<small class="text-danger">{{ error|escape }}</small>{% endfor %}
    </div>
    <div class="form-group">
        <label for="joined_date" class="text-capitalize">{{ form.joined_date.label }}</label>
        {{ form.joined_date }}
        {% for error in form.joined_date.errors %}<small class="text-danger">{{ error|escape }}</small>{% endfor %}
    </div>
    <div class="d-grid gap-2 mt-4">
        {% if request.resolver_match.url_name == 'update' %}
            <button type="submit" class="btn btn-dark">Update Employee</button>
        {% elif request.resolver_match.url_name == 'add' %}
            <button type="submit" class="btn btn-dark">Add Employee</button>
        {% endif %}
    </div>
</form>
